{% macro input(name, label, type='text', value='', placeholder='') -%}
    <div class="form-group">
        <label for="{{ name }}">{{ label }}</label><br>
        <input type="{{ type }}" name="{{ name }}" class="form-control" value="{{ value|e }}"
               placeholder="{{ placeholder }}"/><br>
    </div>
{%- endmacro %}

{% macro article(article, full=False) -%}
    {% if not full %}
        <div class="jumbotron">
            <h1>{{ article.title|upper }}</h1>
            <img src="{{ url_for('uploaded_file',filename=article.picture) }}">
            <p>
                {{ article.content }}
            </p>
        </div>
    {% else %}
        <div class="jumbotron">
            <h1>{{ article.title|upper }}</h1>
            <p>
                {{ article.resume }}
            </p>
            <p><a class="btn btn-primary btn-lg" href="{{ url_for('get_article', key=article.id) }}" role="button">Lire
                la
                suite</a></p>
        </div>
    {% endif %}
{%- endmacro %}