<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New article</title>
</head>
<body>
{%- for category, message in get_flashed_messages(with_categories = true) %}
    <div class="alert alert-danger">
        {{ message }}
    </div>
{%- endfor %}


<form action="{{ request.path }}" method="post">
    <label for="category">Category</label><br>
    <input type="text" name="category" placeholder="Category"/><br>
    <input type="submit" name="submit" value="Submit"/>
</form>


</body>
</html>