{% extends "layout.html" %}
{% block title %}
    test
{% endblock %}
{% block container %}
    {% if article %}
        <div class="jumbotron">
            <h1>{{ article.title }}</h1>
            <p>
                {{ article.content }}
            </p>
        </div>
    {% else %}
        {% for article in articles %}
            <div class="jumbotron">
                <h1>{{ article.title|upper }}</h1>
                <p>
                    {{ article.content }}
                </p>
                <p><a class="btn btn-primary btn-lg" href="{{ url_for('get_article', key=article.id) }}" role="button">Lire
                    la
                    suite</a></p>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}